/* .aa {
    font-style: normal;
    color: white;
    background-color: brown;
    position: relative 100px;
    font-size: x-large;
    border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
width: 60px;
}

.vv {
    width: 500px;
    height: 500px;
    padding-top: 10px;
    padding: 10px;
}

.bb {
    font-style: normal;
    padding-left: 500px;
    font-size: xx-large;

}

.dd {
    font-style: normal;
    position: absolute ;
    top: 100px;
    left: 503px;
    font-size: x-large;
}

.rr {
    position: absolute;
    top: 500px;
    left: 510px;
    font-style: normal;
   font-size: xx-large;
}
 a{
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 470px;
    font-size: smaller;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
padding: 20px;

 }
 a:hover{
    background-color:brown;
    font-size: xx-large;

 }
 b{
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 560px;
    font-size: x-large;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
padding: 20px;

 }
 b:hover{
    background-color: brown;
 }
 t{
    font-style: normal;
    position: absolute;
    top: 650px;
    left: 450px;
    font-size: x-large;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
font-size: xx-large;
padding: 10px;

 }
t:hover{
    background-color: brown;
}
y{ font-style: normal;
    position: absolute;
    top: 650px;
    left: 483px;
    font-size: x-large;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
font-size: xx-large;
padding: 10px;

 }
 y:hover{
    background-color: brown;
 }
 u{ font-style: normal;
    position: absolute;
    top: 650px;
    left: 520px;
    font-size: x-large;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
font-size: xx-large;
padding: 10px;

 }
u:hover{
    background-color: brown;
}
o{
    font-style: normal;
    position: absolute;
    top: 650px;
    left: 570px;
    font-size: x-large;
border-color: darkgray ;
border-width: 1px ;
border-radius: 1px ;
border-style:solid;
font-size: xx-large;
background-color:darkgray;
color: white;
padding: 10px;

}
o:hover{
    background-color: brown;
}
p{
    position: absolute;
    top: 730px;
    left: 490px;
    font-size: x-large;
    border-color: darkgray ;
    border-width: 1px ;
    border-radius: 1px ;
    border-style:solid;
    padding: 10px;

}  
p:hover{
    background-color: red;
}
m{
    position: absolute;
    top: 754px;
    left: 550px;
    font-size: x-large;
    border-color: darkgray ;
    border-width: 1px ;
    border-radius: 1px ;
    border-style:solid;
    padding: 10px;
}
m:hover{
    background-color: green;
}
.k{
    overflow:scroll;
    position: absolute;
    left: 300px;
    top: 100px;
} */
/* *{
    background-color: burlywood;
}
.boxOne{
    width: 200px;
    height: 300px;
    background-color: white;

}
.boxTwo{
    width:200px ;
    height: 250px;
    background-color: white;
}
.A{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
/* .A{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(5,200px);
    border: 2px solid red;
 grid-template-areas:
 "boxOne boxOne boxOne boxOne"
 "boxTwo boxTwo . boxThree"
 "boxFour boxFour boxFour boxFour" ;
}


.boxOne{
    grid-area: boxOne;
    background-color: yellow;
}
.boxTwo{
    grid-area: boxTwo;
    background-color: red;
}
.boxThree{
    grid-area: boxThree;
    background-color: blue;
}
.boxFour{
    grid-area: boxFour;
    background-color: green;
    grid-template-columns: 20px;
    grid-column-start :223 ;
} */
/* .A{

    display: grid;
   grid-template-columns:repeat(4,300px) ;
   grid-template-columns: repeat(2,400px);
  background-color: silver;
  align-items: center;

}
.aa{
  
    font-size: larger;   
}
*{
    background-color: silver;
}
 */


/* * {
    padding: 0;
    margin: 0;
    background-color: silver;
}

.container{
    width: 1200px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 10px;
    background-color: white;
    position: relative;
}

.sale{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid brown;
    background-color: brown;
    color: white;
} */
/* *{
    padding: 10px;
    margin: 10px;
   background-color: palevioletred;
}

.A{
 

}
.a:hover{
  
    width: 160px;
    cursor: pointer;
    animation:movedown 1s linear 1;
 animation-delay:1s;
 visibility: hidden;
 animation-fill-mode: forwards;
}
@keyframes movedown{
    0%{
        transform: translateY(-100);

    }
    100%{
        transform: translateY(0 );
    }
}
.a{
   flex: 1; 
   padding: 1 60px;
   animation:movedown 1s linear 1;
   animation-delay:3s;
   visibility:hidden;
   animation-fill-mode:forwards;
} */

/* }
.a:hover{
    height: 10px;
    width: 35px;
    background-color: rgb(164, 93, 0);
    margin: 10px;
    box-shadow: 0px 5px 50px 5px gray;
 
}
.a:hover .top{
    transform: translateY(15px) rotateZ(45deg);
}
.a:hover .bottom{
transform: translateY(-15px) rotateZ(-45deg);
}
.a:hover .middle {
    width: 0; */
* {
    background-color: #323437;

}

.logo {
    width: 150px;
    height: 100px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 19.09.46.png");
    background-size: cover;
    position: relative;
    position: absolute;
    left: 450px;
    top: 68px;
}

.logo2 {
    width: 60px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.37.51.png");
    background-size: cover;
    position: relative;
    position: absolute;
    left: 1000px;
    top: 102px;
}

.logo2:hover {

    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.35.36.png");
}

.logo3 {
    width: 60px;
    height: 40px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.40.05.png");
    background-size: cover;
    position: absolute;
    left: 1100px;
    top: 98px;

}

.logo3:hover {
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.42.13.png");
}

.logo4 {
    width: 65px;
    height: 65px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.24.19.png");
    background-size: cover;
    position: absolute;
    left: 1180px;
    top: 85px;
}

.logo4:hover {
    width: 60px;
    height: 60px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.26.42.png");
}

.logo5 {
    width: 40px;
    height: 40px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.46.33.png");
    background-size: cover;
    position: absolute;
    left: 1270px;
    top: 105px;
}

.logo5:hover {
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.48.57.png");
}

.logo6 {
    width: 60px;
    height: 60px;
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.55.03.png");
    background-size: cover;
    position: absolute;
    left: 1330px;
    top: 99px;

}

.logo6:hover {
    background-image: url("../Screen\ Shot\ 2022-08-10\ at\ 18.52.59.png");
}

.Garchig {
    position: absolute;
    color: white;
    left: 600px;
    top: 10px;
    font-size: 70px;
    font-style: initial;
}

.zgr2 {
    color: gray;
    position: absolute;
    left: 600px;
    top: 70px;
    font-size: medium;

}

.one {
    color: gray;
    position: absolute;
    left: 3300px;
    top: 90px;
    font-size: x-large;
    font-style: inherit;
}

.one:hover {
    color: whitesmoke;

}

.two {
    color: gray;
    position: absolute;
    left: 3420px;
    top: 90px;
    font-size: x-large;
    font-style: inherit;
}

.two:hover {
    color: whitesmoke;
}

.time {
    color: gray;
    position: absolute;
    left: 3210px;
    top: 129px;
    font-size: x-large;
    font-style: inherit;
}

.time:hover {
    color: whitesmoke;

}

.words {
    color: gray;
    position: absolute;
    left: 3262px;
    top: 129px;
    font-size: x-large;
    font-style: inherit;
}

.words:hover {
    color: whitesmoke;
}

.quote {
    color: gray;
    position: absolute;
    left: 3330px;
    top: 129px;
    font-size: x-large;
    font-style: inherit;
}

.quote:hover {
    color: whitesmoke;
}

.zen {
    color: gray;
    position: absolute;
    left: 3390px;
    top: 129px;
    font-size: x-large;
    font-style: inherit;
}

.zen:hover {
    color: whitesmoke;

}

.custom {
    color: gray;
    position: absolute;
    left: 3430px;
    top: 129px;
    font-size: x-large;
    font-style: inherit;
}

.custom:hover {
    color: whitesmoke;
}

.fif {
    color: gray;
    position: absolute;
    left: 3210px;
    top: 165px;
    font-size: x-large;
    font-style: inherit;
}

.fif:hover {
    color: whitesmoke;
}

.thir {
    color: gray;
    position: absolute;
    left: 3250px;
    top: 165px;
    font-size: x-large;
    font-style: inherit;
}

.thir:hover {
    color: whitesmoke;
}

.min {
    color: gray;
    position: absolute;
    left: 3290px;
    top: 165px;
    font-size: x-large;
    font-style: inherit;
}

.min:hover {
    color: whitesmoke;
}

.twoMin {
    color: gray;
    position: absolute;
    left: 3330px;
    top: 165px;
    font-size: x-large;
    font-style: inherit;
}

.twoMin:hover {
    color: whitesmoke;
}

.logo7 {
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.13.41.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    left: 3380px;
    top: 185px;
    font-size: x-small;

}

.logo7:hover {
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.16.12.png");
}

.english {
    display: flex;
    justify-self: center;
    align-items: center;
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.18.20.png");
    width: 45px;
    height: 45px;
    background-size: cover;
    position: absolute;
    left: 2100px;
    top: 700px;
}
.english:hover{
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.26.51.png");
}
.englisha{
    color: gray;
    position: absolute;
    left: 2170px;
    top: 702px;
    font-size: xx-large;
    font-style:initial;

}
.englisha:hover{
    color: whitesmoke;
}
.logo8{
    width: 40px;
    height: 40px;
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.36.06.png");
   background-size: cover;
   position: absolute;
   left: 2170px;
   top: 1250px;
}
.logo8:hover{
    background-image: url("../Screen\ Shot\ 2022-08-12\ at\ 17.39.24.png");
}
.restart{
    display: none;
    color: gray;
    position: absolute;
    left: 2170px;
    top: 1300px;
    font-size: xx-large;
    font-style: initial;
}

.tab{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 2000px;
    top: 1700px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: 70px;
    height: auto;
    border-radius: 10px;
    background-color:dimgray;
}
.a{
    position: absolute;
    left: 2100px;
    top: 1700px;
    font-size: xx-large;
    color: dimgray;
}
.enter{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 2150px;
    top: 1700px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: 70px;
    height: auto;
    border-radius: 10px;
    background-color:dimgray;
}
.aa{
    position: absolute;
    left: 2260px;
    top: 1700px;
    font-size: xx-large;
    color: dimgray;
}
.aaa{
    position:absolute;
    left: 2300px;
    top: 1700px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;

}
.ee{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 1900px;
    top: 1800px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: 70px;
    height: auto;
    border-radius: 10px;
    background-color:dimgray; 
}
.or{
    position:absolute;
    left: 2000px;
    top: 1770px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;
}
.ctl{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 2052px;
    top: 1768px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color:dimgray; 

}
.b{
    position:absolute;
    left: 2190px;
    top: 1767px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;
}
.shift{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 2242px;
    top: 1768px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color:dimgray; 
}
.t{
    position:absolute;
    left: 2330px;
    top: 1767px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;
}


.p{
    color:rgb(25, 20, 20);
    position: absolute;
    left: 2382px;
    top: 1767px;
    font-size: xx-large;
    font-style: initial;
    display: flex;
    justify-content: center;
    border: 1px solid dimgray;
    width: 30px;
    height: auto;
    border-radius: 10px;
    background-color:dimgray; 
}
.g{
    position:absolute;
    left: 2470px;
    top: 1767px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;  
}
.line{
    position:absolute;
    left: 2540px;
    top: 1767px;
    font-size: xx-large;
    font-style: initial;
    color: dimgray;}

.text1{
    position:absolute;
    left: 1200px;
    top: 800px;
    font-size: 50px;
    font-style: initial;
    color: dimgray;}
.text2{
    position:absolute;
    left: 1200px;
    top: 900px;
    font-size: 50px;
    font-style: initial;
    color: dimgray; 
}
.text3{
    position:absolute;
    left: 1200px;
    top: 1000px;
    font-size: 50px;
    font-style: initial;
    color: dimgray; 
}
.text4{
    position:absolute;
    left: 1200px;
    top: 1100px;
    font-size: 50px;
    font-style: initial;
    color: dimgray; 
}